<h1><%= @team_name %></h1>

<h2>Team Motto: <%= @team_motto %></h2>

<% @team_members.each do |hero| %>
  <h2>Hero Name: <%= @hero_name %></h2><br>
  <p>Hero Power: <%= @hero_power %></p><br>
  <p>Hero Biography: <%= @hero_bio %></p><br>
<% end %>
